extends ./includes/layout.pug
block title
    title Images
block content
    div.row
        div.col-md-12.text-center
            div.page-header
                h1 Images
                if currentChannel
                    |  from #{currentChannel}
                if currentUser
                    |  by #{currentUser}
            span.help-block All Images with a jpeg, jpg, png, gif extension will auto-magically show up here.
            a.btn.btn-block.btn-warning(href=url('upload')) Upload
            hr
    div.row
        div.col-md-12.text-left
            if !currentChannel
                each channel in channels
                    span.channelLink
                        a.btn.btn-info.btn-sm(href=url('urls',{channel: channel})) #{channel}
            else
                span.channelLink
                    a.btn.btn-danger.btn-sm(href=url('urls')) #{currentChannel}
        div.col-md-12
            if !currentChannel
                span.help-block Click a Channel name to filter.
            else
                span.help-block Click the Channel name to clear filter.
            hr
    if currentChannel
        div.row
            div.col-md-12.text-left
                if !currentUser
                    each user in users
                        span.channelLink
                            a.btn.btn-info.btn-sm(href=url('urls',{channel: currentChannel, user:user})) #{user}
                else
                    span.channelLink
                        a.btn.btn-danger.btn-sm(href=url('urls',{channel: currentChannel})) #{currentUser}
            .col-md-12.text-left
                if !currentUser
                    span.help-block Click a User name to filter.
                else
                    span.help-block Click the User name to clear filter.
                hr
    div.row
    each link in results
        div.panel.panel-primary.text-center
            div.panel-heading
                a(style="color:white",href=url('urls', {channel: link.to})) #{link.to}
                span.padded /
                a(style="color:white",href=url('urls', {channel: link.to, user: link.from})) #{link.from}
                span.padded /
                span #{moment(link.timestamp).format('h:mma MMM Do')}
            div.panel-body.text-center
                a(style="color:white",href=link.url)
                    img(src=link.url).center-block.img-responsive
            div.panel-footer.text-right
                a(style="color:white",href=link.url, download=link.url).btn.btn-primary.btn-sm
                    i.fa.fa-download.icon-spin
    div.row
        div.col-md-12
            hr
            p Total: #{results.length}
block body
